* {
    margin: 0px;
    padding: 0px;
}


/* ------------------------------------------Main Code Index----------------------------------------------*/

.wrapper {
    height: 100vh;
    width: 99vw;
    /* background-color: red; */
}

header {
    height: 22vh;
    width: 98.8vw;
    background-color: black;
}

section {
    height: 60vh;
    width: 98.8vw;
    /* background-color: grey; */
}

.logo {
    float: left;
    padding-left: 15px;
}

section .sec_img {
    height: 80vh;
    width: 98.8;
    background-image: url("https://source.unsplash.com/1000x710/?library");
}

.box {
    height: 40vh;
    width: 40vw;
    background-color: black;
    margin: 90px auto;
    opacity: .7;
}

section div h1 {
    text-align: center;
    color: white;
}


/*----------------------------------**-------st_login-------**-------------------------------------*/

section .log_img {
    height: 60vh;
    background-image: url("https://source.unsplash.com/800x730/?books");
    height: 100vh;
}

.box1 {
    width: 32vw;
    height: 66vh;
    margin: 30px auto;
    background-color: black;
    opacity: .7;
}

form .login {
    margin: auto 112px;
    padding: auto;
}


/* input {
    height: 25px;
    width: 250px;
} */


/*----------------------------------**-------st_registration-------**-------------------------------------*/

section .reg_img {
    height: 108vh;
    background-image: url("https://source.unsplash.com/800x800/?coding");
}

.box2 {
    width: 34vw;
    height: 92vh;
    margin: 30px auto;
    background-color: black;
    opacity: .7;
    padding: 6px;
}

form .registration {
    margin: auto 112px;
    padding: auto;
}